.App {
  text-align: center;
  background: #fff;
  width: 100vw;
  height: 100vh;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
}

.mainContainer {
  display: grid;
  grid-template-columns: auto 3fr auto;
  max-width: 850px;
  grid-gap: 10px;
  width: 100%;
  /* margin: auto; */
  padding: 10px;
}

::-webkit-scrollbar {
  width: 10px;
  background: #bdc3c7;
}
::-webkit-scrollbar-track-piece {
  background-color: #ecf0f1;
}

::-webkit-scrollbar-thumb:vertical {
  height: 30px;
  background-color: #bdc3c7;
}
